<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Component Tests" verbose="2">
    <test name="DemoBlaze" preserve-order="true" >
        <parameter name="browser" value="chrome" />
        <parameter name="Port" value="9001" />
        <classes>
            <class name="SignIn"/>
        </classes>
    </test>
</suite>